<vote-arrows></vote-arrows>

<!-- post info -->
<span class="post">
    <a href="{{post.link}}" ng-show="post.mediaType == 'link'">{{post.title}}</a>
    <span ng-show="post.mediaType == 'text'">{{post.title}}</span>
</span>
&mdash;

<!-- comments info -->
<span>
    <a href="/posts/{{posts.indexOf(post)}}">{{post.comments.length}} comments</a>
</span>

<!-- post date -->
<div>
    posted on {{post.createdAt | date}}
</div>