<header class="page-header col-md-10 col-md-offset-1">
    <h1><a href="/">diggit</a></h1>
    
    <div class="login-area pull-right" ng-controller="SessionsCtrl">
      <login ng-hide="user.id"></login>
      <account-options class="pull-right" ng-show="user.id"></account-options>
    </div>
</header>