<!-- comment voting arrows -->
<span class="glyphicon glyphicon-arrow-up pull-left" ng-click="incrementUpvotes(comment)"></span>
<span class="badge pull-left">{{comment.upvotes}}</span>
<span class="glyphicon glyphicon-arrow-down pull-left" ng-click="decrementUpvotes(comment)"></span>
 &mdash; by {{comment.author}}

<!-- comment body -->
<div class="comment-body">{{comment.body}}</div>