/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 */
@import 'bootstrap-sprockets';
@import 'bootstrap';

// nav
.page-header h1 {
  float: left;
}

// voting
vote-arrows {
  float: left;
  margin-right: 15px;

  .arrows-container {
    display: inline-block;
  }

  [class*='glyphicon-arrow'] {
    display: block;
    cursor: pointer;
    font-size: large;

  }

  .glyphicon-arrow-up.voted {
    color: green;
  }

  .glyphicon-arrow-down.voted {
    color: red;
  }

  .badge {
    margin-right: 5px;
    margin-bottom: 50%;
  }
}

// posts index
.posts-list {
  list-style-type: none;
  padding: 0;
}

// post show
post-content {
  display: block;
}

comment-list {
  margin-top: 2em;
  display: block;
}

// users
login {
  display: block;
  font-size: small;

  input[type="text"],
  input[type="password"] {
    height: 0.5em;
  }
}
