<div class="page-header col-md-8 col-md-offset-2">
    <h1><a href="/">diggit</a></h1>
</div>

<div class="col-md-6 col-md-offset-2">

    <!-- TEMPLATES RENDER HERE -->
    <div ng-view=""></div>

</div>

<!-- sidebar -->
<sidebar></sidebar>