<!-- posts directory -->
<ul class="posts-list list-group">
    <li class="post list-group-item" ng-repeat="post in posts | orderBy: '-upvotes'">

        <!-- voting arrows -->
        <div>
            <span class="glyphicon glyphicon-arrow-up pull-left" ng-click="incrementUpvotes(post)"></span>
            <span class="badge pull-left">{{post.upvotes}}</span>
            <span class="glyphicon glyphicon-arrow-down pull-left" ng-click="decrementUpvotes(post)"></span>
        </div>

        <!-- post info -->
        <span class="post">
            <a href="{{post.link}}" ng-show="post.type == 'link'">{{post.title}}</a>
            <span ng-show="post.type == 'text'">{{post.title}}</span>
        </span>
        &mdash;

        <!-- comments info -->
        <span>
            <a href="/posts/{{posts.indexOf(post)}}">{{post.comments.length}} comments</a>
        </span>

        <!-- post date -->
        <div>
            posted on {{post.createdOn | date}}
        </div>
    </li>
</ul>
