<h3>
    <a href="{{post.link}}" ng-show="post.link">{{post.title}}</a>
    <span ng-hide="post.link">{{post.title}}</span>
</h3>
<article ng-show="post.body">{{post.body}}</article>

<!-- comments -->
<h4>Comments</h4>
<div class="comment" ng-repeat="comment in post.comments | orderBy: '-upvotes'">
    <!-- comment voting arrows -->
    <span class="glyphicon glyphicon-arrow-up" ng-click="incrementUpvotes(comment)"></span>
    <span class="glyphicon glyphicon-arrow-down" ng-click="decrementUpvotes(comment)"></span>
    <span class="badge">{{comment.upvotes}}</span> - by {{comment.author}}

    <!-- comment body -->
    <div class="comment-body">{{comment.body}}</div>
</div>