<span class="badge">{{post.upvotes}}</span>
<div class="arrows" ng-init="post.vote=0">
    <span class="glyphicon glyphicon-arrow-up" ng-class="{voted : post.upvoted}" 
        ng-click="incrementUpvotes(post)"></span>
    <span class="glyphicon glyphicon-arrow-down" ng-class="{voted : post.downvoted}" 
        ng-click="decrementUpvotes(post)"></span>
</div>