<span class="badge">{{post.upvotes}}</span>
<div class="arrows-container">
    <span class="glyphicon glyphicon-arrow-up vote-arrow" ng-class="{voted : post.upvoted}" 
        ng-click="incrementUpvotes(post)"></span>
    <span class="glyphicon glyphicon-arrow-down vote-arrow" ng-class="{voted : post.downvoted}" 
        ng-click="decrementUpvotes(post)"></span>
</div>