<span class="badge">{{post.upvotes}}</span>
<div class="arrows">
    <span class="glyphicon glyphicon-arrow-up" ng-click="incrementUpvotes(post)"></span>
    <span class="glyphicon glyphicon-arrow-down" ng-click="decrementUpvotes(post)"></span>
</div>